---
import { Icon } from 'astro-icon';
---

<section
  id="how-it-works-section"
  class="bg-white dark:bg-gray-800 py-10 relative z-10 scroll-mt-16 hiw-bgnd -left-1.5 px-2"
  style="min-width:100%;"
>
  <section class="dark:text-gray-100 hiw-bgnd px-2" style="max-width: 1280px; margin:auto;">
    <div class="container mx-auto flex flex-col">
      <h2
        class="text-5xl min-[1400px]:text-[90px] max-[1535px]:text-7xl min-[1536px]:text-7xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-gray-200 text-gray-600 text-center mb-8"
      >
        How It Works
      </h2>

      <div class="absolute z-0 left-1/2 -ml-2 w-1 h-[92%] dark:bg-blue-300 bg-gray-400" style="top:260px;"></div>

      <div
        class="hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 1</h1>

            <p class="text-gray-500 dark:text-gray-300">
              This is a short description of how this step operates. It should be about 100 - 140 characters
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >Preparation <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            >
          </span>
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Create Your Masterfile</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >This section discusses the reasons and features and benefits, addressing any objections. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <span>
            <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
          </span>
        </div>
      </div>
      <!-- ******************************* -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 2</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >password generation <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >AUTOMATED</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Unbreakable Passwords</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 3</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >encryption <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >AUTOMATED</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">AES-256 Military Grade</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Multi-encryption Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error
            alias dolorem praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis
            dolores, enim cons equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 4</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >Encrypt It<br class="hidden-break" style="display:none;" /><span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >VIDEO WALKTHROUGH
            </span></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Standalone Encryption Tool</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 5</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >storage<br class="hidden-break" style="display:none;" /><span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >VIDEO WALKTHROUGH
            </span></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Cloud Hosted Backups</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 6</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >Adding Your Heirs <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">The Chosen Ones</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 7</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >Trustees <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">How Trustees Help You</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >A trustee is a blah blah. You can have one or more etc Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Aperiam facilis, voluptates error alias dolorem praesentium sit soluta iure incidunt labore explicabo
            eaque, quia architecto veritatis dolores, enim cons equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 8</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >STOCK YOUR VAULT <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">The Keyback Vault</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 9</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >dead mans switch <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Customise To Your Needs</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 10</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >masterkey <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">A Safety Key You Control</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 11</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >Go Time <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >AUTOMATED</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">You Crypto Is Protected</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 12</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >Claiming<br class="hidden-break" style="display:none;" /><span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >VIDEO WALKTHROUGH
            </span></span
          >
          <span class="mt-2 text-2xl font-bold md:text-3xl md:mx-10">Heirs Access The Vault</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
      <!-- ******************************* -->

      <div
        class="mt-20 mb-10 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-blue-300 rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 13</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 md:mx-10"
            >Recovery <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Restoring Crypto Wallets</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sml.png" alt="" class="h-12 md:h-14 lg:h-16" /></div>
        </div>
      </div>
    </div>
  </section>
</section>
