html {
  min-width: 100vw;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-slate-900;
  }

  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-blue-900 hover:border-blue-900 hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-blue-900 dark:hover:bg-blue-900;
  }
}

/* #header.scroll {
  @apply shadow-md md:shadow-lg bg-white md:bg-white/90 md:backdrop-blur-sm dark:bg-slate-900 dark:md:bg-slate-900/90;
} */

#header.myscroll {
  @apply shadow-md md:shadow-lg bg-white md:bg-white/90 md:backdrop-blur-sm dark:bg-slate-900 dark:md:bg-slate-900/90;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

#logo {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
  -webkit-filter: drop-shadow(1px 1px 2px #3d3d3d);
  filter: drop-shadow(1px 1px 2px #3d3d3d);
  width: 200px;
}
#curvedlines1 {
top:170px;
  position: absolute;
  width: 100%;
  z-index:-10;
}

#curvedlines2 {
  top:80px;
  left: 80px;
    position: absolute;
    width: 100%;
    z-index:-11;
  }
  #image-container-1 {
  background-image: url('../images/colors.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  width:100%;
  transform: rotate(-15deg);
  }

  #stepnumber {
    position:absolute;
  }


  #spaceman-1 img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }  

.floating { 
  animation: floating 25s infinite ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  10% { transform:  scaleX(1) scaleY(1);}
  20% { transform: rotate(-3deg);}
  30%  { transform: translate(0, 5px);}
  40% { transform: scaleX(1.02) scaleY(1.0);}
  50% { transform: rotate(3deg); }
  60%   { transform: translate(0, 0px); }
  70% { transform: scaleX(1) scaleY(1);}
  85% { transform: scaleX(1.06) scaleY(1.06);}
  100% { transform: rotate(0deg); }   

}

#thetitle {

  color: #f15050;
}
#starfield {
  min-height:70vh!important;
  max-height: 80vh; 
  position:relative;
  overflow:hidden;
  margin:  auto ;
  background-image: url('../images/planet.jpg');
  background-repeat: no-repeat;
/* background-attachment: fixed; */
  /* background-position: 100% 0%; */
  background-size: cover;
  opacity: 1;
}
@media only screen and (min-width: 1536px) {
  /* large screens */

  #starfield {
    min-height:70vh!important;
    max-height: 80vh; 
    position:relative;
    overflow:hidden;
    margin:  auto ;
    background-image: url('../images/planet.jpg');
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
    background-position: 50% 30%;
    background-size: cover;
    opacity: 1;
  }
  #thetitle {
    position:relative;
    top: 10px;
    color: #f15050;
  }
  #spaceman-1 {
    position:relative;
    top: 0px;
    z-index:10000;
    height: 100%;
    left: -100px;
    scale: 0.8;
    }
    #spaceman-1 img {
      min-width: 760px!important;
    }
    #herosection {
      position:relative;
      min-width: 870px!important;
      left: -300px;
      top: -60px;
      z-index: 4000;
    }
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
    max-width: 1440px;
    margin: auto;
    z-index: 4000;
    }
    #herosection-bgnd {
      background-color: rgba(0, 5, 21, 0.4)!important;
      border:#141414 0px solid;
      box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
      border-radius: 40px;
      padding:20px;
    }
    #protect-your-crypto {
      position:relative;
      top: -15px;
      margin-right:40px;
    }
    
    #how-it-works {
      position:relative;
      top: -15px;
    }
  }
@media only screen and (min-width: 1400px) and (max-width: 1535px) {
  /* large screens */

  #starfield {
    min-height:50vh!important;
    max-height: 60vh;
    position:relative;
    overflow:hidden;
    margin:  auto ;
    background-image: url('../images/planet.jpg');
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
    background-position: 50% 50%;
    background-size: cover;
    opacity: 1;
  }
  #thetitle {
    position:relative;
    top: 10px;
    color: #f15050;
  }
  #spaceman-1 {
    position:relative;
    top: -20px;
    z-index:10000;
    height: 100%;
    left: -80px;
    scale: 0.7;
    }
    #spaceman-1 img {
      min-width: 760px!important;
    }
    #herosection {
      position:relative;
      min-width: 870px!important;
      left: -300px;
      top: -50px;
      z-index: 4000;
    }
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
    max-width: 1440px;
    margin: auto;
    z-index: 4000;
    }
    #herosection-bgnd {
      background-color: rgba(0, 5, 21, 0.5)!important;
      border:#141414 0px solid;
      box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
      border-radius: 40px;
      padding:20px;
    }
    #protect-your-crypto {
      position:relative;
      top: -12px;
    }
    
    #how-it-works {
      position:relative;
      top: -12px;
    }
  }



  @media only screen and (min-width: 465px) and (max-width: 1399px){
    /* medium screens */

    #starfield {
      min-height:100%!important;
      max-height: 100%!important;
      position:relative;
      overflow:hidden;
      margin:  auto ;
      background-image: url('../images/planet.jpg');
      background-repeat: no-repeat;
    /* background-attachment: fixed; */
      background-position: 50% 50%;
      background-size: cover;
      opacity: 1;
    }
    
    #thetitle {
      position:relative;
      top: 10px!important;
    }
    #spaceman-1 {
      position:relative;
      text-align: center;
      top: 260px;
      z-index:1;
      height:auto;
      max-width:80%!important;
      scale: 0.5;
      
      }
      #spaceman-1 img {
        min-width: 900px!important;
        transform: rotate(130deg)!important;
      }

      #herosection {
      position:absolute;
      min-width: 100vw!important;
      z-index: 900;
      top: -40px;
      
      }

      #herosection-bgnd {
        background-color: rgba(0,0,0,0.4)!important;
        border:#141414 0px solid;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
        border-radius: 40px;
        
        
      }
      #protect-your-crypto {
        position:relative;
        top: -15px;
      }
      
      #how-it-works {
        position:relative;
        top: -15px;
      }
      
  }

@media only screen and (max-width: 464px) {
  /* small screens */

  #starfield {
    min-height:100%!important;
    max-height: 100%!important;
    position:relative;
    overflow:hidden;
    margin:  auto ;
    background-image: url('../images/planet.jpg');
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
    background-position: 50% 50%;
    background-size: cover;
    opacity: 1;
  }
  #spaceman-1 {
    left: -100px;
    position:relative;
    text-align: center;
    top: 240px;
    z-index:1;
    height:auto;
    /* overflow: hidden; */
    scale: 0.4;
    
    }
    #spaceman-1 img {
      min-width: 840px!important;
      transform: rotate(220deg)!important;
    }
    #herosection {
      position: absolute;
      z-index: 900;
      top: -30px;
      
    }
   #herocontainer {
    width:100%!important;
    padding:0px;
   }
   #herosection-bgnd {
    background-color: rgba(0,0,0,0.45)!important;
    border:#141414 0px solid;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border-radius: 40px;
    padding:20px;
  }
}

#herosection-bgnd {
  background-color: rgba(0, 6, 40, 0.45);
  border:#0d0d0d 0px solid;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 40px;
  padding:0px;
  margin-top: 20px;
}

.herocontainer {
  /* max-width:1460px; */
  margin:  auto;
  /* background-color: rgba(255, 152, 152, 0.3); */
  min-height: 70vh!important;
  
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

#spaceman-1 {
  filter: drop-shadow(1px 1px 2px #d8d8d8);
}
#hero-subtitle {
  padding-left: 15px!important;
  padding-right: 15px!important;
  margin-bottom: 50px;
  /* background-color: red; */
}
#hero-title-2 { display:none; }
#hero-subtitle-2 { display:none; }

@media only screen and (max-width: 465px ) {
  /* for font size changes for mobile */
  #hero-title-1 {
    display:none;
  }
  #hero-title-2 {
    display:block;
    position:relative;
    top:-25px;
    font-size: 50px!important;
    line-height: 3.5rem!important;
  }

  #hero-subtitle-1 {
    display:none;
  }
  #hero-subtitle-2 {
    display:block;
    font-size: 26px!important;
    line-height: 3.0rem!important;
    letter-spacing: -2px;
    padding-top: 10px;
    color: #f15050;
  }
  #hero-subtitle {
    position:relative;
    top: -45px;
  }
  #protect-your-crypto {
    position:relative;
    top: 10px;
    max-width: 250px;
    margin: auto;
  }
  #how-it-works {

    position:relative;
    top: -135px;
    max-width: 250px;
    margin: auto;
  }

    

}

@media only screen and (min-width: 464px) and (max-width: 639px ) {
/* button placement */
#protect-your-crypto {
  position:relative;
  top: -30px;
}

#how-it-works {
  position:relative;
  top: -17px;
}

}
#hero-subtitle-2, #hero-subtitle-1 {
  color: #f15050!important;
}





